@charset "utf-8";
/* 기본 스타일 3가지(폰트, 색상, 링크) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
    --main_color1: #009C39;
    --main_color2: #fcfcf4;

    --sub_color1: #F4C717;
    --sub_color2: #00B9F1;
    --sub_color3: #FF6A6E;
    --sub_color4: #000;

    --font_size18: 18px;
    --font_size16: 16px;
    --font_size12: 12px;
}
*{margin: 0; padding: 0;}

body{
    font-family: "Noto Sans KR", sans-serif, arial;
    font-size: var(--font_size18);
    color: #000;
    font-weight: bold;
}

a{text-decoration: none; color: #000;}

ul,li{list-style: none;}

header,footer{width: 100%;}

/* 헤더 */
header{
    height: 70px;
    background: var(--main_color1);
}

header > .top_all{
    width: 300px;
    margin: 0 auto;
    position: relative;
}
/* 메인 로고 */
header > .top_all h1{
    width:100px;
    position: absolute;
    top: 5px; left: 100px;
  }
.top_all > h1 img{
    width: 100%;
}

/* 판매샵 이미지 */
.top_right{
    width: 50px;
    position: absolute;
    top: 25px; left: 0;
}
.top_right img{
    width: 100%;
}

/* 토글버튼서식 */
.total_btn{
    position:absolute;
    right: 0;
    top: 20px;
}
.fa-bars{font-size:30px; color: #fff;}
#toggle{display:none;}



/* 푸터 */
footer{
    background: rgba(204, 204, 204, 0.5);
    font-family: "Nanum Gothic", sans-serif, arial;
    font-weight: normal;
    font-size: var(--font_size12);
}

footer > .footer_all{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0 20px;
}

address > p{
    font-style: normal;
    line-height: 20px;
}

.footer_bottom{text-align: center;}
.footer_nav > ul > li{display: inline-block; margin: 20px 0;}
.footer_nav > ul > li:first-child{padding-right: 20px; border-right: 1px solid var(--sub_color4);}
.footer_nav > ul > li:last-child{padding-left: 20px;}
.footer_nav > ul > li:hover{text-decoration: underline;}

/* 탑 버튼 */
html, body{
    scroll-behavior:smooth;
}
.top_btn{
    position:fixed;
    right: 20px;
    bottom: 200px;
    background: var(--main_color1);
    color: var(--main_color2);
    text-decoration:none;
    padding:15px 15px;
    font-size: var(--font_size16);
}